*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: #02041b;
    --secondarybackground: #9aa2ec;
    --text:#000000;
    --purple:#0415d6;
    --teal: #24feee;
    
}
p.name{
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
    font-weight: 800;
    transition: 01s ease-in-out;
    padding-top: 70px;
    cursor: pointer;
    
    animation: infinite;

}
span:hover{
    color: rgb(255, 81, 0);
    text-shadow: 0 0 10px rgb(255, 81, 0), 0 0 5px rgb(255, 81, 0);
    border-bottom: 0.3s solid rgb(255, 81, 0) transparent;
    transform: scale(1.05s);
    
    

}
body{
    background-color:var(--background);
    color: #fff;

}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
    background-color: #000000;
    border-radius: 10%;
  
    

}
.start-container{
    padding:30px;
    border-radius: 20px;
    
    display :flex;
    justify-content: space-between;
    gap: 50px;
    width: 500px;

}
.app{
    width: 100%;
}
.app p{
    
    border-radius: 50%;
    padding-left: 4px;
    color: #70d4aa;
    animation: bounce 0.9s infinite;
}
      
@keyframes bounce {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, 10px, 0);
    }
}

.number{
    
    width: 100px;
    height: 80px;
    
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 700;
    font-size: 25px ;

}
#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--secondarybackground);
    border-radius: 5px;
    margin-top: 20px;
}
#progress{
                
   
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.5s ease;
}
form{
    margin-top: 40px;
    width: 85%;
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
    padding: 16px;
    background: var(--secondarybackground);
    border: 2px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);    
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: 800;
    outline: none;
    border: none;
    cursor: pointer;
    
}
button:hover{
    transform: scale(1.2)translateY(-5px);
    color: #171c48;
    background-color: whitesmoke ;
}
#task-list{
    padding: 30px;   
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: top 30px;
    width: 100%;
    list-style: none;
}
.taskitem{
    width: 100%;
    display: flex;
    background-color: var(--purple);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.task{
    display: flex;
    align-items: center;
    gap: 7px;
}
.task input{
    width: 20px;
    height: 20px;
}
.completed p{
    text-decoration: line-through;
    color: var(--teal);
}
.taskitem img{
    width: 40px;
    height: 30px ;
    margin: 0 0;
    cursor: pointer;
    
}
.taskitem img:hover{
   
    color: red;
    border: 2px solid red;
    background-color: #eeeef0;
}


