body {
    font-family: Arial, sans-serif; 
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('pexels-photo-1431282.webp');  
    background-size: 60%; 
    background-position: center;
    background-repeat: no-repeat; 
}

.container {
    background-color: rgba(255, 255, 255, 0.247);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #013d10b9;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f1e6e6;
}
select{
    color: #ffffff;
    background-color: #f1e6e633;
}
select option{
    color: #000000;
    
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

button {
    background-color: #45cc64b0;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: linear-gradient(#3ad45c8c,#227e368c,#8bd19b8c);
    transition-duration: 600ms;
    
    text-shadow: inset 0 2px 5px #ff0202, inset 0 2px 5px #ff0202;;
    
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
    background-color: rgba(62, 202, 49, 0.548);
    border-radius: 4px;
    font-size: 20px;
}
