*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(76, 103, 116);
}
.calculator{
    position: relative;
    align-items: center;
    width: 320px;
    height: 80.5vh;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.390),inset 0 5px 5px rgba(0, 0, 0, 0.226), inset 0 5px 5px rgba(255, 0, 0, 0.247); 
}
.calculator .buttons{
    position: relative;
    display: grid;
}
.calculator .buttons #value{
    position: relative;
    margin: 23px;
    grid-column: span 4;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    border-radius: 12px;
    background: rgb(107, 141, 158);
    text-align: right;
    font-size: 1.4em;
    overflow: hidden;
    box-shadow: inset 0 7px 1px 0 rgba(5, 6, 94, 0.35),0 5px 5px rgba(36, 34, 49, 0.397),0 10px 10px rgba(93, 101, 163, 0.35);
    user-select: none;
    
}
.calculator .buttons #value::before{
    content: '';
    position: absolute;
    inset: 5px 3px;
    border-top: 2px solid #ccc;
    filter:blur(2px)

}
.calculator .buttons span{
    position: relative;
    padding: 23px;
    margin: 6px;
    margin-bottom: 10px;
    min-width: 33px;
    font-size: 1.3em;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    color: rgba(255, 255, 255, 0.699);
    background: linear-gradient(rgb(51, 68, 85),rgb(67, 72, 75));
    box-shadow: inset 0 4px 1px 0 rgba(5, 6, 94, 0.35),0 5px 5px rgba(36, 34, 49, 0.397),0 8px 8px rgba(93, 101, 163, 0.35);

}
.calculator .buttons span::before{
    content: '';
    position: absolute;
    inset: 5px 3px;
    border-top: 2px solid #ccc;
    filter:blur(4px)

}
.calculator .buttons span:active{
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.397),inset 0 5px 5px rgba(0, 0, 0, 0.418), inset 0 5px 5px rgba(0, 0, 0, 0.384);
    color: #fff;
    text-shadow: 0 0 5px #65aadb, 0 0 8px #64aad8;
}
.calculator .buttons span#add{
    grid-row: span 2;
    background: #0019fd;
}
.calculator .buttons span#del{
    
    background: #fd0000bb;
}
.calculator .buttons span#clear{
    background: #fd3b00d2;
}
.calculator .buttons span#equals{
    background: #61a0ff;
}