body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d0f8f5 ;
  }
  
  .container {
    text-align: center;
    width: 500px;
    background-color: rgba(92, 90, 90, 0.302)  ;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    background-color:rgba(159, 255, 180, 0.1) ;
    font-size: 18px;
    border: 1px solid #030000;
    border-radius: 4px;
    width: 50%;
    box-sizing: border-box;
  }
  
  button {
    display: flex;
    position: relative;
    margin: 0 180px;
    padding: 10px 20px;
    border: none;
    font-weight: bolder;
    border-radius: 8px;
    background-color: #28a745;
    color: rgb(206, 243, 232);
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #125320;
    transition-duration: 600ms;
  }
  
  
.countdown {
  display: flex;
  gap: 2px;
  padding: 10px;
  border-radius: 10px;
  background-color: #2e2e2e ;
  margin: 8px ;
  width: 470px;
}

.countdown div {
  display: flex;
  margin: 0 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #535252;
  font-size: 25px;
  width: 50px;
}

.countdown span {
  
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
  margin-top: 10px;
  
}